#login-form-container{
    width:450px;
    height:400px;
    background-color: white;
    text-align: center;
    margin:160px auto;
    border-radius: 20px;
}
input{
    width:60%;
    margin-bottom:30px;
    padding:12px;
}
h2{
    padding-top:30px;
}
body{
    background: linear-gradient(#9c0a0a, #91d7e5);
    font-family: "Inter", sans-serif;
}
#login-btn{
    width:30%;
    font-size:20px;
    border:0;
    cursor:pointer;
    color:white;
    background-color:#2d4ffb;
    transition: 0.4em;
}
#login-btn:hover{
    background-color: chartreuse;
}
.form-field{
    border-top:0;
    border-left-width: 0;
    border-right-width: 0;
    
}